<app-residences>
  <app-mariemjrad></app-mariemjrad>
</app-residences>

<p>residence works</p>
<!--type de data binding:interpolation-->
{{title}}
<br>
<!--this is event binding from html to ts component-->
<button (click)="f()">click me</button>
<br>
<!---value avec crochet a un sens dont le compilateur pense que cest  une expression qui doit etre trouvée dans .ts [] signifie propriete du composant -->
<!---name est une propriete  du composant dans le quel elle travaille-->
<!--this is proprety binding du ts vers html-->
<input [value]="name">

<!--type de data binding:interpolation-->

{{name}}
<br>
<!--ng MoDEL est une directive
c'est une classe qui fait un un traitement dans html-->
<!--ici cest la combianion netre proprety et evznt binding -->
<input [(ngModel)]="name"> {{name}}

